
   
    
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 30px auto 109px auto;
}

.menu-items{
     display: flex;
    justify-content: space-between;
    align-items: center;
   
    gap: 20px;
}
.navbar ul li{
    list-style: none;
    display: inline;

}
.navbar ul li a{
    text-decoration: none;
  

}
.Home{
    color: #252432;
    display: block;
}
.shop{
    color: #8987A1;
    display: block;
}
.About-us{
    color: #8987A1;
    display: block;
}
.cart{
    color: #000000;
}
.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 80%;
    margin: 109px auto;
   
}
.banner-text h1{
    font-weight: bold;
    font-size: 3rem;
   font-family: "Noto Serif", serif;
   color: #000000;
}
.fresh-flower,.our{
    color:#E95A08 ;
}
.banner-text p{
    color: rgba(0, 0, 0, 0.5);
     font-family: "Inter", sans-serif;
    
}
.banner-text{
    width: 100%;
    align-items: end;
}
.banner-image{
    width: 100%;
    align-items: end;
}
.plants-section{
    width: 80%;
    margin:109px auto;
}
.plants-heading{
    text-align: center;
}
.plants-heading h1{
    font-weight: bold;
    font-size: 3.1rem;
    font-family: "Noto Serif", serif;
    margin-bottom: 16px;

}
.plants-heading p{
     color: rgba(0, 0, 0, 0.5);
     font-family: "Inter", sans-serif;
     font-size: 22px;
     

}
.card-container{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    margin-top: 49px;
    gap: 15px;
   
   
    
    }
.card{
    
    width: 240px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 20px;

}

.card-text{
    text-align: center;
   
}
.card-text p{
    font-weight: medium;
    font-size: 1.3rem;
    color: #111111;
     font-family: "Inter", sans-serif;

}
.usd{
    font-weight: bold;
     font-family: "Inter", sans-serif;
}
.btn{
    padding: 8px 26px;
    background-color: #E95A08;
    color: white;
    margin-top: 5px;
    width: 240px;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: semibold ;
    font-size: 1rem;
    


}

.card-image img{
 width: 100%;
  
}


.plants-lover-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0px auto;
    gap: 100px;
   
}

#trusted-badge{
    width: 200px;
    height: 200px;
    margin-left:310px ;
    margin-bottom: -130px;
    position: relative;
    
}

.flower-store{
    width: 100%;
    
   
    
}
.plants-lover-text h1{
    color: #000000;
    font-weight: bold;
    font-size: 3.12rem;
     font-family: "Noto Serif", serif;
     margin-bottom: 20px;
}
.plants-lover-text ul{
    color: rgba(0, 0, 0, 0.5);
     font-family: "Inter", sans-serif;
}
.plants-lover-text ul li {
    margin-bottom: 20px;
    
}

.latest-deal-section{
    width: 80%;
    margin: 100px auto;
}

.latest-deal-heading h1{
     font-family: "Noto Serif", serif;
     font-weight: bold;
     font-size: 3.125rem;
     text-align: center;

}
.latest{
    color:#E95A08 ;
}
.latest-deal-heading p{
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
     font-family: "Inter", sans-serif;

}
.bloom-plant{
    background-image: url(assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
     width: 271px;
     height: 80px;
    border-radius: 14px;
    font-family: "Noto Serif", serif;
     font-weight: bold;
     font-size: 18px;
     text-align: center;
     color: #FFFFFF;
     padding: 60px 48px;

}

.ana-plant{
    background-image: url(assets/deal-ana.png);
    background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     width: 271px;
     height: 80px;
     border-radius: 14px;
     font-family: "Noto Serif", serif;
     font-weight: bold;
     font-size: 18px;
     text-align: center;
      color: #FFFFFF;
      padding: 60px 48px;
    
}
.zabo-plant{
    background-image: url(assets/deal-zabo.png);
    background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     width: 400px;
     height: 228px;
     border-radius: 14px;
    font-family: "Noto Serif", serif;
     font-weight: bold; 
     font-size: 30px;
     color: #FFFFFF;
     padding: 100px 105px;
     margin-top: 0px;
     margin-bottom: 0px;
     text-align: center;
     }

    

.two-image-sector{
    gap: 30px;
   display: grid;
   grid-template-columns: repeat(auto-fit,(2,1fr));
}

.latest-image-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    
   }
.latest-image-container a{
    color: white;
    

}
.join-text , .join-form {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    
    
}
.join-section{
    background-image: url(assets/news-letter-bg.png);
     background-repeat: no-repeat;
     background-size:cover;
     background-position: center;
     object-fit: cover;
     height: 400px;
     width:100%;
     margin: 0%;
}

.join-text h1{
    color: #FFFFFF;
     font-family: "Noto Serif", serif;
     font-weight: bold;
     font-size: 40px;

}

.join-form{
    padding-top: 0px;
}

.join-form input[type="email"]{
    background-color: white;
    padding: 20px 8px;
    width: 600px;
   border: none;
   height: 10px;
   color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;


}
.join-form input[type="submit"]{
    background-color: #E95A08;
    color: #FFFFFF;
    border: none;
    width: 180px;
    padding: 14px 20px 18px 20px;
    font-family: "Inter", sans-serif;
    font-weight: semibold;
    font-size: 1rem;
    
}

.footer{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    align-items: start;
}

.footer-logo p{
    color: rgba(0, 0, 0, 0.5);
     font-family: "Inter", sans-serif;
     font-size: 22px;

}

.list-one li , .list-two li{
    color: rgba(107, 114, 128, 1);
    margin-top: 20px;
}

.logo img{
   margin-right: 20px;
}
.logo{
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}


    
   

  
   
   











/* responsive section for mobile device */
@media screen and (max-width:576px){
    .Home,.shop ,.About-us{
        display: none;
    }
    .banner-section{
        flex-direction: column-reverse;
    }

    .card-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .plants-lover-section{
        display: flex;
        flex-direction: column;
        
    }
    #trusted-badge{
        visibility: hidden;
    }

    .plants-lover-text ul{
        text-align: left;
    }
    .latest-image-container{
        display: flex;
        flex-direction: column;
    }

    .zabo-plant{
        width: 367px;
        height: 200px;
        margin: auto;
        padding: 20px 6px;
        font-size: 20px;
    }
    .join-form input[type="email"] , input[type="submit"]{
        width: 321px;
    }

    .footer{
        display: flex;
        flex-direction: column;
    }
    .logo{
        margin-top: 20px;
    }
}